# Makefile.local  -*-Makefile-*-

.PHONY: Makefile.local

# NOTE: do not change "=" or ":="

# For Conjur
# Leave these blank if you want to use Makefile.util to set these values based on
# values from ../creds.toml
AWS_LAMBDA_ARN = 
AWS_REGION     = 

# Safe where CF template will store accounts
# Example: TARGET_SAFE_NAME := DemoSafe-34
TARGET_SAFE_NAME := 

# AWS Region where CyberArk::PrivilegeCloud::Account custom provider is deployed
# Example: STACK_AWS_REGION := us-east-1
STACK_AWS_REGION := 
